@font-face {
  font-family: 'Roboto';
  src: url('~@/assets/fonts/Roboto/Roboto-Regular.eot');
  src: local('Roboto'), local('Roboto-Regular'),
  url('~@/assets/fonts/Roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
  url('~@/assets/fonts/Roboto/Roboto-Regular.woff') format('woff'),
  url('~@/assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('~@/assets/fonts/Roboto/Roboto-Medium.eot');
  src: local('Roboto Medium'), local('Roboto-Medium'),
  url('~@/assets/fonts/Roboto/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
  url('~@/assets/fonts/Roboto/Roboto-Medium.woff') format('woff'),
  url('~@/assets/fonts/Roboto/Roboto-Medium.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('~@/assets/fonts/Roboto/Roboto-Light.eot');
  src: local('Roboto Light'), local('Roboto-Light'),
  url('~@/assets/fonts/Roboto/Roboto-Light.eot?#iefix') format('embedded-opentype'),
  url('~@/assets/fonts/Roboto/Roboto-Light.woff') format('woff'),
  url('~@/assets/fonts/Roboto/Roboto-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
