@import "fonts";
@import "variables";

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

img {
  user-select: none;
}

body {
  margin: 0;
  font-family: 'Roboto', serif;
  font-weight: normal;
  color: white;
  font-size: pxToVw(22);
}

input:focus, button:focus, textarea:focus {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

*::selection {
  background-color: #d61bfe;
  color: white;
}

h1, h2, h3 {
  margin: 0;
}
