<template>
  <div class="base-block">
    <slot/>
  </div>
</template>

<script>
export default {
  name: 'BaseBlock',
}
</script>

<style lang="scss">
.base-block {
  padding: 30px;
  background: linear-gradient(150.4deg, rgba(20, 80, 107, 0.41) 3.08%, rgba(71, 60, 102, 0.41) 95.46%);
  border: 1px solid #3C83A8;
  box-sizing: border-box;
  backdrop-filter: blur(18px);
  border-radius: 15px;
}
</style>
