<template>
  <div class="base-modal" @click="$emit('close')">
    <div class="base-modal__wrapper">
      <div class="base-modal__content" @click.stop>
        <slot/>
      </div>
    </div>
    <div class="base-modal__close">&times;</div>
  </div>
</template>

<script>
export default {
  name: 'BaseModal',
}
</script>

<style lang="scss">
@import "../../assets/style/variables";

.base-modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 5%;
  background-color: rgba(0, 0, 0, .8);

  &__close {
    position: absolute;
    right: pxToVw(10);
    top: 0;
    cursor: pointer;
    font-size: pxToVw(60);
    line-height: pxToVw(60);
    padding: pxToVw(30);
  }

  &__wrapper, &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  &__content {
    img, video {
      max-width: 100%;
      max-height: 100%;
      width: auto;
      height: auto;
    }
  }
}
</style>
