<template>
  <base-block :class="`base-message base-message_${type}`">
    <slot/>
  </base-block>
</template>

<script>
import BaseBlock from './BaseBlock'

export default {
  name: 'BaseMessage',
  props: {
    type: {
      type: String,
      default: 'default',
      validator(value) {
        ['default', 'warning', 'error'].includes(value)
      },
    },
  },
  components: {BaseBlock},
}
</script>

<style lang="scss">
.base-message {
  &_error {
    border-color: red;
    background-color: rgba(255, 0, 0, .5);
  }
}
</style>
