<template>
  <section class="orders-block">
    <header class="orders-block__header">
      <h3 class="orders-block__title">
        <slot name="title"/>
      </h3>
    </header>
    <div class="orders-block__list" v-if="orders && orders.length">
      <div class="orders-block__item" v-for="{id, creator, price, priceUSD, currency} in orders" :key="id">
        <div class="orders-block__creator">{{ creator }}</div>
        <div class="orders-block__price">{{ price }} {{ currency }}</div>
        <div class="orders-block__price-usd">${{ priceUSD }}</div>
      </div>
    </div>
    <div v-else>
      <div class="orders-block__none">
        <slot name="none"/>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'OrdersBlock',
  props: {
    orders: {
      type: Array,
    },
  },
}
</script>

<style lang="scss">
@import "../assets/style/variables";

.orders-block {
  &__title {
    font-weight: normal;
    font-size: pxToVw(36);
    line-height: pxToVw(42);
    margin-bottom: pxToVw(30);
  }

  &__none {
    color: rgba(255, 255, 255, .6);
  }

  &__item {
    display: grid;
    grid-template-columns: 4fr 2fr 1fr;
    margin-bottom: pxToVw(15);

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__creator {
    color: #369EFE;
  }
}
</style>
