<template>
  <div class="auction-search">
    <input
      type="number"
      v-model.lazy.number="assetKey"
      size="10"
      placeholder="NFT ID"
    >
  </div>
</template>

<script>
import {ref, watch} from 'vue'
import {useStore} from 'vuex'
import types from '../store/types'

export default {
  name: 'TheAuctionSearch',
  setup() {
    const store = useStore()
    const assetKey = ref(store.state.assetKey)
    watch(assetKey, value => store.commit(types.mutations.SET_ASSET_KEY, value))

    return {assetKey}
  },
}
</script>

<style lang="scss">
@import "../assets/style/variables";

.auction-search {
  input {
    background-color: transparent;
    border: 1px solid #3C83A8;
    border-radius: 6px;
    width: pxToVw(200);
    height: pxToVw(47);
    font-size: pxToVw(23);
    text-align: center;
    color: white;
    padding: 0 pxToVw(15);

    &::placeholder {
      color: rgba(255, 255, 255, .5);
    }
  }
}
</style>
