<template>
  <orders-block :orders="ordersConfirmed">
    <template #title>Accepted Bids</template>
    <template #none>No Accepted Bids</template>
  </orders-block>
</template>

<script>
import OrdersBlock from './OrdersBlock'
import {computed, watch} from 'vue'
import {useStore} from 'vuex'
import types from '../store/types'

export default {
  name: 'TheAuctionOrdersConfirmed',
  setup() {
    const store = useStore()
    const ordersConfirmed = computed(() => store.getters.ordersHigh)
    const updater = computed(() => store.state.timer)
    const assetKey = computed(() => store.state.assetKey)
    watch([updater, assetKey], ([, key], [, prevKey]) => {
      if (key !== prevKey) {
        store.state.ordersFoil.length && store.commit(types.mutations.SET_ORDERS, {orders: [], currency: 1})
        store.state.ordersDoge.length && store.commit(types.mutations.SET_ORDERS, {orders: [], currency: 18})
      }
      if (key && store.state.asset) {
        store.dispatch(types.actions.GET_ORDERS, {have: 1})
        store.dispatch(types.actions.GET_ORDERS, {have: 18})
      }
    })

    return {ordersConfirmed}
  },
  components: {OrdersBlock},
}
</script>
