<template>
  <div class="auction-asset">
    <div class="auction-asset__wrapper">
      <div class="auction-asset__block">
        <TheAuctionAssetMedia class="auction-asset__media"/>
        <TheAuctionAssetAuthor class="auction-asset__author"/>
      </div>
      <div class="auction-asset__block">
        <header class="auction-asset__header">
          <h2 class="auction-asset__title">{{ asset.name }}</h2>
        </header>
        <TheAuctionAssetBestOrders/>
      </div>
    </div>
  </div>
</template>

<script>
import {inject} from 'vue'
import TheAuctionAssetAuthor from './TheAuctionAssetAuthor'
import TheAuctionAssetMedia from './TheAuctionAssetMedia'
import TheAuctionAssetBestOrders from './TheAuctionAssetBestOrders'

export default {
  name: 'TheAuctionAsset',
  setup() {
    return {
      asset: inject('asset'),
    }
  },
  components: {TheAuctionAssetBestOrders, TheAuctionAssetMedia, TheAuctionAssetAuthor},
}
</script>

<style lang="scss">
@import "../assets/style/variables";

.auction-asset {
  &__wrapper {
    display: grid;
    grid-template-columns: .9fr 1fr;
    gap: pxToVw(30);
  }

  &__header {
    padding-bottom: pxToVw(30);
    border-bottom: 1px solid #2D4765;
    margin-bottom: pxToVw(20);
  }

  &__title {
    font-weight: bold;
    font-size: pxToVw(48);
    line-height: pxToVw(56);
  }

  &__author {
    margin-top: pxToVw(40);
  }
}
</style>
