<template>
  <orders-block :orders="ordersUnconfirmed">
    <template #title>Bids</template>
    <template #none>No Bids</template>
  </orders-block>
</template>

<script>
import OrdersBlock from './OrdersBlock'
import {computed, watch} from 'vue'
import {useStore} from 'vuex'
import types from '../store/types'

export default {
  name: 'TheAuctionOrdersUnconfirmed',
  setup() {
    const store = useStore()
    const ordersUnconfirmed = computed(() => store.getters.ordersUnconfirmed)
    const updater = computed(() => store.state.timer)
    const assetKey = computed(() => store.state.assetKey)
    watch([updater, assetKey], ([, key], [, prevKey]) => {
      if (key !== prevKey) {
        store.state.ordersUnconfirmed.length && store.commit(types.mutations.SET_ORDERS_UNCONFIRMED, [])
      }
      if (key && store.state.asset) {
        store.dispatch(types.actions.GET_ORDERS_UNCONFIRMED)
      }
    })
    return {ordersUnconfirmed}
  },
  components: {OrdersBlock},
}
</script>
