<template>
  <div class="auction-orders">
    <TheAuctionOrdersUnconfirmed class="auction-orders__unconfirmed"/>
    <TheAuctionOrdersConfirmed class="auction-orders__confirmed"/>
  </div>
</template>

<script>
import TheAuctionOrdersConfirmed from './TheAuctionOrdersConfirmed'
import TheAuctionOrdersUnconfirmed from './TheAuctionOrdersUnconfirmed'

export default {
  name: 'TheAuctionOrders',
  components: {TheAuctionOrdersUnconfirmed, TheAuctionOrdersConfirmed},
}
</script>

<style lang="scss">
@import "../assets/style/variables";

.auction-orders {
  &__unconfirmed {
    padding-bottom: pxToVw(30);
    margin-bottom: pxToVw(30);
    border-bottom: 1px solid #2D4765;
  }
}
</style>
