<template>
  <div class="auction-asset-media">
    <div class="auction-asset-media__wrapper">
      <div class="auction-asset-media__preview">
        <video v-if="assetMedia && imageMediaType === 'video'" :src="assetMedia + '?preview'" loop autoplay></video>
        <img v-else-if="assetMedia && imageMediaType === 'image'" :src="assetMedia + '?preview'"/>
      </div>
      <div class="auction-asset-media__open" @click="open = true"></div>
      <teleport to="body">
        <base-modal v-if="open" @close="open = false">
          <img v-if="assetType === 0" :src="assetMedia" :alt="`type_${assetType}`">
          <video v-else-if="assetType === 1" :src="assetMedia" loop controls></video>
          <p v-else>Media file format not supported</p>
        </base-modal>
      </teleport>
    </div>
  </div>
</template>

<script>
import {inject, computed, ref} from 'vue'
import utils from '../utils'
import BaseModal from './base/BaseModal'

export default {
  name: 'TheAuctionAssetMedia',
  components: {BaseModal},
  setup() {
    const open = ref(false)
    const asset = inject('asset')
    const assetType = asset.value.imageType
    const imageMediaType = (asset.value.imagePreviewMediaType.split('/'))[0]
    const assetMedia = computed(() => asset.value.imageURL
      ? utils.correctURL(asset.value.imageURL)
      : null,
    )

    return {
      open,
      assetType,
      assetMedia,
      imageMediaType
    }
  },
}
</script>

<style lang="scss">
@import "../assets/style/variables";

.auction-asset-media {
  display: flex;
  align-items: center;
  justify-content: center;

  &__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    border-radius: pxToVw(15);
    background-color: rgba(255, 255, 255, .05);
  }

  video, img {
    display: block;
    width: 100%;
    height: auto;
    max-height: pxToVw(400);
  }

  &__open {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    cursor: pointer;
  }
}
</style>
