<template>
  <div class="auction-asset-author">
    <div class="auction-asset-author__image">
      <img v-if="authorImage" :src="authorImage" :alt="authorName">
    </div>
    <div class="auction-asset-author__name">
      {{ authorName }}
    </div>
  </div>
</template>

<script>
import {inject, computed} from 'vue'
import utils from '../utils'

export default {
  name: 'TheAuctionAssetAuthor',
  setup() {
    const asset = inject('asset')
    const authorName = computed(() => asset?.value?.person?.name || '')
    const authorImage = computed(() => {
      if (asset?.value?.person?.imageURL) {
        return utils.correctURL(asset.value.person.imageURL)
      }

      return null
    })

    return {
      authorName,
      authorImage,
    }
  },
}
</script>

<style lang="scss">
@import "../assets/style/variables";

.auction-asset-author {
  display: flex;

  &__image {
    overflow: hidden;
    border-radius: 6px;
    max-width: pxToVw(80);

    img {
      display: block;
      max-width: 100%;
      height: auto;
    }
  }

  &__name {
    font-size: pxToVw(30);
    padding: pxToVw(10) pxToVw(30);
  }
}
</style>
