<template>
  <div class="auction-asset-best-orders">
    <div class="auction-asset-best-orders__title">Highest bid</div>
    <div class="auction-asset-best-orders__list">
      <div
        class="auction-asset-best-orders__item"
        v-for="token in [foil, doge]"
        :key="token.id"
      >
        <div class="auction-asset-best-orders__price">
          <img :src="token.image" :alt="token.currency">
          <span>{{ `${token.price} ${token.currency}` }}</span>
        </div>
        <div class="auction-asset-best-orders__price-usd" v-if="token.priceUSD">
          {{ token.priceUSD }} $
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {computed} from 'vue'
import {useStore} from 'vuex'
import utils from '../utils'

export default {
  name: 'TheAuctionAssetBestOrders',
  setup() {
    const store = useStore()
    const confirmed = computed(() => store.getters.ordersHigh)
    const unconfirmed = computed(() => store.getters.ordersUnconfirmed)
    const foil = computed(() => ({
      ...utils.findBestPrice('FOIL', confirmed.value, unconfirmed.value) ?? {currency: 'FOIL', price: 0},
      image: require('../assets/images/foil-token.png'),
    }))
    const doge = computed(() => ({
      ...utils.findBestPrice('DOGE', confirmed.value, unconfirmed.value) ?? {currency: 'DOGE', price: 0},
      image: require('../assets/images/doge-token.png'),
    }))

    return {
      foil,
      doge,
    }
  },
}
</script>

<style lang="scss">
@import "../assets/style/variables";

.auction-asset-best-orders {
  font-size: pxToVw(36);
  line-height: pxToVw(42);

  &__title {
    margin-bottom: pxToVw(30);
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: pxToVw(20);
  }

  &__price {
    display: flex;
    align-items: center;
    gap: pxToVw(25);
  }
}
</style>
