<template>
  <div class="auction">
    <div class="auction__search">
      <TheAuctionSearch/>
    </div>
    <div class="auction__wrapper">
      <base-block class="auction__asset">
        <TheAuctionAsset v-if="asset"/>
        <div v-else-if="assetKey">NFT token not found</div>
        <div v-else>Place token ID</div>
      </base-block>
      <base-block class="auction__orders" v-if="asset">
        <TheAuctionOrders/>
      </base-block>
      <base-message
        v-if="error"
        type="error"
        class="auction__error"
      >There was a problem getting NFT token data
      </base-message>
    </div>
  </div>
</template>

<script>
import TheAuctionAsset from './TheAuctionAsset'
import TheAuctionOrders from './TheAuctionOrders'
import TheAuctionSearch from './TheAuctionSearch'
import {useStore} from 'vuex'
import {computed, provide, watch} from 'vue'
import BaseBlock from './base/BaseBlock'
import types from '../store/types'
import BaseMessage from './base/BaseMessage'

export default {
  name: 'TheAuction',
  setup() {
    const store = useStore()
    const asset = computed(() => store.state.asset)
    const assetKey = computed(() => store.state.assetKey)
    const error = computed(() => store.state.error)

    watch(assetKey, () => store.dispatch(types.actions.GET_ASSET))
    provide('asset', asset)

    return {assetKey, asset, error}
  },
  components: {BaseMessage, BaseBlock, TheAuctionSearch, TheAuctionOrders, TheAuctionAsset},
}
</script>

<style lang="scss">
@import "../assets/style/variables";

.auction {
  &__wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: pxToVw(15) pxToVw(24);
    margin-top: pxToVw(15);
  }

  &__error {
    grid-column: 1 /2;
  }
}
</style>
