<template>
  <footer class="footer">
    <div class="footer__partners">
      <div
          v-for="(partner, idx) in partners"
          class="footer__partner"
          :key="idx"
      ><img :src="partner" :alt="`partner_${idx}`">
      </div>
    </div>
  </footer>
</template>

<script>
export default {
  name: 'TheFooter',
  setup() {
    return {
      partners: [
        require('../assets/images/partners/nftbastards.png'),
        require('../assets/images/partners/forklog.png'),
        require('../assets/images/partners/eho.png'),
        require('../assets/images/partners/bit-journal.png'),
        require('../assets/images/partners/nft256.png'),
        require('../assets/images/partners/crypto-koss.png'),
      ],
    }
  },
}
</script>

<style lang="scss">
@import "../assets/style/variables";

.footer {
  &__partners {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: pxToVw(30);

    img {
      max-width: 100%;
    }
  }
}
</style>
