<template>
  <header class="header">
    <h1 class="header__title">Auction Pure NFT</h1>
    <div class="header__organizers">
      <img :src="logoFoil" alt="FOIL">
      <img :src="logoPrometheus" alt="Prometheus">
    </div>
  </header>
</template>

<script>
export default {
  name: 'TheHeader',
  setup() {
    return {
      logoFoil: require('../assets/images/foil.svg'),
      logoPrometheus: require('../assets/images/prometheus.png'),
    }
  },
}
</script>

<style lang="scss">
@import "../assets/style/variables";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__title {
    font-weight: bold;
    font-size: pxToVw(64);
    line-height: pxToVw(75);
  }

  &__organizers {
    display: flex;
    align-items: center;
    gap: pxToVw(100);
  }
}
</style>
