<template>
  <div class="app">
    <div class="app__wrapper">
      <TheHeader class="app__header"/>
      <TheAuction class="app__auction"/>
      <TheFooter class="app__footer"/>
    </div>
  </div>
</template>
<script>
import TheHeader from './components/TheHeader'
import TheFooter from './components/TheFooter'
import TheAuction from './components/TheAuction'
import {useStore} from 'vuex'
import types from './store/types'

export default {
  setup() {
    const store = useStore()
    store.dispatch(types.actions.GET_RATE)
    setInterval(() => store.commit(types.mutations.UPDATE_TIMER), 1000)
  },
  components: {TheAuction, TheFooter, TheHeader},
}
</script>

<style lang="scss">
@import "assets/style/variables";

.app {
  min-height: 100vh;
  background-color: black;
  background-image: url('assets/images/background.jpg');
  background-size: cover;

  &__wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 90%;
    margin: auto;
    padding: pxToVw(40) 0;
  }

  &__auction {
    margin: pxToVw(40) 0;
  }

  &__footer {
    margin-top: auto;
  }
}
</style>
